* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgb(1, 11, 76) 13%, rgba(11, 11, 76, 0.452) 74%);
}

body > div:first-child {
    display: flex;
    flex-direction: column;
}

body > div:last-child {
    flex-grow: 1;
}

.user-greeting {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.content,
.profile-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input, textarea {
    background-color:grey;
    color: black;
}

.active_link {
    background-color: rgba(0, 34, 255, 0.75);
    padding: 2px;
}

.user-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-profile-stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-controls {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.user-details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.posts-section {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.post {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.navbar,
.navbar-nav,
.continer-fluid {
    display: flex;
    flex-grow: 1;
    flex-direction: column;;
}