* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, rgba(1,76,54,1) 13%, rgba(1,170,189,1) 74%);
}

.content {
    display: flexbox;
    padding-bottom: 100%;
    border: rgb(108, 110, 107) solid 3px;
}

.user-post-table td {
    padding: 5px;
}

input, textarea {
    background-color:grey;
    color: black;
}

.active_link {
    background-color: rgba(0, 34, 255, 0.75);
    padding: 2px;
}

.nav {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 20px;
    background: linear-gradient(90deg, rgba(2,130,92,1) 13%, rgba(1,189,67,1) 70%);
    border: rgb(150, 177, 136) solid 3px;
}

/* Add this to create some space between navbar items */
.nav > * {
    margin: 0 5px;
}

/* all this for an index header */
.compact-table {
    border-collapse: collapse;
}
.compact-table td {
    padding: 0;
    vertical-align: middle;
}
.user-greeting {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Adjust this value to control space above and below */
}
.user-avatar {
    margin-left: 15px;
}