/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(208, 229, 133);
}

/* Layout */
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

body > div:first-child {
    display: flex;
    flex-direction: column;
}

body > div:last-child {
    flex-grow: 1;
}

.sign-in,
.register,
.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px 200px;
    padding: 20px 0;
    background-color: rgba(33, 37, 41, 0.80); /* copy BS5's .bg-dark class */
}

.sign-in-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.content,
.profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;;
    padding: 10px;
    background-color: rgb(24, 126, 106);
}

/* Navigation */
.navbar,
.navbar-nav,
.continer-fluid {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* User Profile */
.user-greeting {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.user-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: rgba(33, 37, 41, 0.80); /* .bg-color again */
}

.user-profile-stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-controls {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.user-details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

/* Posts */
.posts-section {
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: auto;
    max-height: 500px;
    padding: 10px 10px;
    background-color: rgba(33, 37, 41, 0.80);
}

.post {
    display: flex;
    align-items:flex-start;
    gap: 10px;
}

.post-content {
    display: flex;
    flex-direction: column;
}

/* Form Elements */
input, textarea {
    background-color: grey;
    color: black;
}