{% extends 'base.html' %}
{% block content %}
    <h3>New Post for User: {{ current_user.username }}</h3>
    {% if form %}
        <div class="new-post">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(cols=32, rows=4) }}<br>
                    {% for error in form.post.errors  %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>        
    {% endif %}
{% endblock content %}