<div class="post">
    <div class="post-container">
        <div class="post-thumbnail">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img style="border-radius: 10px;" src="{{ post.author.avatar(36) }}" 
                    alt="{{ _('%(user)s avatar', user=post.author.username) }}">
            </a>
        </div>
        <div class="post-body">
            <p> 
                <span class="badge bg-danger" style="padding-bottom: 2px;">{{ post.author.username }}</span>
                <span style="font-size: 0.8em;">{{ moment(post.timestamp).fromNow() }}</span>
            </p>
            <div>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                    <br>
                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate(
                                    'post{{ post.id }}',
                                    'translation{{ post.id }}',
                                    '{{ g.locale }}');">{{ _('Translate') }}</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>