<div class="post">
    <div class="post-container">
        <div class="post-thumbnail">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img style="border-radius: 10px;" src="{{ post.author.avatar(36) }}" alt="{{ post.author.username }}'s avatar">
            </a>
        </div>
        <div class="post-body">
            <p>
                <span class="badge bg-danger" style="padding-bottom: 2px;">{{ post.author.username }}</span>
                <span style="font-size: 0.8em;">{{ moment(post.timestamp).fromNow() }}</span>
            </p>
            <div>{{ post.body }}</div>
        </div>
    </div>
</div>