{% macro nav_link(endpoint, link_label, username=None) %}
    {% if request.endpoint %}
        {% if request.endpoint.endswith(endpoint) %}
            <!-- this block prevents an unnecessary URL param -->
            {% if username %}
                <a class="active_link" href="{{ url_for(endpoint, username=username) }}">{{link_label}}</a>
            {% else %}
                <a class="active_link" href="{{ url_for(endpoint) }}">{{link_label}}</a>
            {% endif %}
        {% else %}
            <!-- same as the above block -->
            {% if username %}
                <a href="{{ url_for(endpoint, username=username) }}">{{link_label}}</a>
            {% else %}
                <a href="{{ url_for(endpoint) }}">{{link_label}}</a>
            {% endif %}
        {% endif %}
    {% endif %}    
{% endmacro %}