{% from '_nav_link.html' import nav_link with context %}
<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
      <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
          Microblog:
          {{ nav_link('index', 'Home') }}
          {% if current_user.is_anonymous %}
            {{ nav_link('login', 'Sign In') }}
          {% else %}
            {{ nav_link('user', 'Profile', current_user.username) }}
            {{ nav_link('logout', 'Log Out') }}
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for msg in messages %}<li>{{ msg }}</li>{% endfor %} 
            </ul>  
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>