{% extends 'base.html' %}
{% block content %}
    <div class="user-greeting">
        <h1>{{ _('Hey, %(username)s', username=current_user.username) }}</h1>
        <span style="padding-top: 8px;"><img src="{{ current_user.avatar(32) }}" alt="User avatar for {{ current_user.username }}"></span>
    </div>
    <div class="posts-section">
        {% for post in posts %}
            {% include 'macros/_post.html' %}
        {% endfor %}
    </div>
    {% include 'macros/_pagination.html' %}
{% endblock content %}
