{% extends 'base.html' %}
{% block content %}
    <div class="user-greeting">
        <h1>Hello {{ current_user.username }}</h1>
        <span style="padding-top: 8px;"><img src="{{ current_user.avatar(32) }}" alt="User avatar for {{ current_user.username }}"></span>
    </div>
    {% if form %}
        {% include 'macros/_new_post_form.html' %}
    {% endif %}
    <div class="posts-section">
        {% for post in posts %}
            {% include 'macros/_post.html' %}
        {% endfor %}
    </div>
{% endblock content %}
