{% extends 'base.html' %}
{% block content %}
    <table class="compact-table">
        <tr>
            <td>
                <div class="user-greeting">
                    <h1>Hello {{ current_user.username }}</h1>
                    <img class="user-avatar" src="{{ current_user.avatar(32) }}" alt="User avatar">
                </div>
            </td>
        </tr>
    </table>
    {% for post in posts %}
        <div>
            <p>
                <h2>Subject: {{ post.title }}</h2>
                <h3 style="font-style: italic;">{{ post.author.username }}</h3>
                {{ post.body }}
                {% if post %}
                    <hr>
                {% endif %}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
